<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yuli.jadwalshalat">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/berdoa1"
            android:label="IBADAH Yukk..!!"
            android:roundIcon="@mipmap/berdoa1"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.yuli.jadwalshalat.MainActivity">
        </activity>
        <activity android:name="com.yuli.jadwalshalat.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>